@import "variable";
@import "bootstrap";
@import "animations";
@import "font-awesome";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Common classes

.e-m {
    margin: 2em 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

// Loading component

#loading {
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30px;
        height: 30px;
        background-color: #333;
        margin: -15px 0 0 -15px;
        -webkit-animation: rotateplane 1.2s infinite ease-in-out;
        animation: rotateplane 1.2s infinite ease-in-out;
    }
}